/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo/.cache/
speakers_db.*
.clj-kondo/
.lsp/
*.iml
*.db
*.mv.db
*.trace.db
.calva/
.cp_cache/
.idea